@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap);





body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    line-height: 1.5;
}

.mbr-section-title {
    font-style: normal;
    line-height: 1.2;
}

.mbr-section-subtitle {
    line-height: 1.3;
}

.mbr-text {
    font-style: normal;
    line-height: 1.6;
}

.display-1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
}

.display-1>.mbr-iconfont {
    font-size: 6.4rem;
}

.display-2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
}

.display-2>.mbr-iconfont {
    font-size: 2.88rem;
}

.display-4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
}

.display-4>.mbr-iconfont {
    font-size: 1.28rem;
}

.display-5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
}

.display-5>.mbr-iconfont {
    font-size: 2.24rem;
}

.display-7 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 200;
}

.display-7>.mbr-iconfont {
    font-size: 1.6rem;
}

.content4 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-top: -27vh;
    margin-bottom: -2px;
}

/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
    .display-1 {
        font-size: 3.2rem;
        font-size: calc(2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20)));
        line-height: calc(1.4 * (2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20))));
    }

    .display-2 {
        font-size: 1.44rem;
        font-size: calc(1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20)));
        line-height: calc(1.4 * (1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20))));
    }

    .display-4 {
        font-size: 0.64rem;
        font-size: calc(0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20)));
        line-height: calc(1.4 * (0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20))));
    }

    .display-5 {
        font-size: 1.12rem;
        font-size: calc(1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
        line-height: calc(1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
    }
}

/* Buttons */
.btn {
    color: initial;
    border-radius: 0;
    font-weight: 600;
    border-width: 2px;
    font-style: normal;
    letter-spacing: 2px;
    margin: .4rem .8rem;
    white-space: normal;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    word-break: break-word;
    padding: 0.8rem 2rem;
    border-radius: 0px;
}

.btn-sm {
    font-weight: 600;
    letter-spacing: 2px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding: 0.5rem 1.5rem;
    border-radius: 0px;
}

.btn-md {
    font-weight: 600;
    letter-spacing: 2px;
    margin: .4rem .8rem !important;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding: 0.8rem 2rem;
    border-radius: 0px;
}

.btn-lg {
    font-weight: 600;
    letter-spacing: 2px;
    margin: .4rem .8rem !important;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding: 0.8rem 2rem;
    border-radius: 0px;
}

.bg-primary {
    background-color: #8c43ff !important;
}

.bg-success {
    background-color: #9553ff !important;
}

.bg-info {
    background-color: #4801ff !important;
}

.bg-warning {
    background-color: #293347 !important;
}

.bg-danger {
    background-color: #ea43ff !important;
}

.btn-primary,
.btn-primary:active,
.btn-primary.active {
    background-color: #8c43ff !important;
    border-color: #8c43ff !important;
    color: #ffffff !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
    color: #ffffff !important;
    background-color: #5f00f5 !important;
    border-color: #5f00f5 !important;
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: #ffffff !important;
    background-color: #5f00f5 !important;
    border-color: #5f00f5 !important;
}

.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
    background-color: #622ac4 !important;
    border-color: #622ac4 !important;
    color: #ffffff !important;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
    color: #ffffff !important;
    background-color: #421d85 !important;
    border-color: #421d85 !important;
}

.btn-secondary.disabled,
.btn-secondary:disabled {
    color: #ffffff !important;
    background-color: #421d85 !important;
    border-color: #421d85 !important;
}

.btn-info,
.btn-info:active,
.btn-info.active {
    background-color: #4801ff !important;
    border-color: #4801ff !important;
    color: #ffffff !important;
}

.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
    color: #ffffff !important;
    background-color: #3200b3 !important;
    border-color: #3200b3 !important;
}

.btn-info.disabled,
.btn-info:disabled {
    color: #ffffff !important;
    background-color: #3200b3 !important;
    border-color: #3200b3 !important;
}

.btn-success,
.btn-success:active,
.btn-success.active {
    background-color: #9553ff !important;
    border-color: #9553ff !important;
    color: #ffffff !important;
}

.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
    color: #ffffff !important;
    background-color: #6606ff !important;
    border-color: #6606ff !important;
}

.btn-success.disabled,
.btn-success:disabled {
    color: #ffffff !important;
    background-color: #6606ff !important;
    border-color: #6606ff !important;
}

.btn-warning,
.btn-warning:active,
.btn-warning.active {
    background-color: #293347 !important;
    border-color: #293347 !important;
    color: #ffffff !important;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
    color: #ffffff !important;
    background-color: #0d1017 !important;
    border-color: #0d1017 !important;
}

.btn-warning.disabled,
.btn-warning:disabled {
    color: #ffffff !important;
    background-color: #0d1017 !important;
    border-color: #0d1017 !important;
}

.btn-danger,
.btn-danger:active,
.btn-danger.active {
    background-color: #ea43ff !important;
    border-color: #ea43ff !important;
    color: #ffffff !important;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
    color: #ffffff !important;
    background-color: #da00f5 !important;
    border-color: #da00f5 !important;
}

.btn-danger.disabled,
.btn-danger:disabled {
    color: #ffffff !important;
    background-color: #da00f5 !important;
    border-color: #da00f5 !important;
}

.btn-white {
    color: #333333 !important;
}

.btn-white,
.btn-white:active,
.btn-white.active {
    background-color: #ffffff !important;
    border-color: #ffffff !important;
    color: #808080 !important;
}

.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
    color: #808080 !important;
    background-color: #d9d9d9 !important;
    border-color: #d9d9d9 !important;
}

.btn-white.disabled,
.btn-white:disabled {
    color: #808080 !important;
    background-color: #d9d9d9 !important;
    border-color: #d9d9d9 !important;
}

.btn-black,
.btn-black:active,
.btn-black.active {
    background-color: #333333 !important;
    border-color: #333333 !important;
    color: #ffffff !important;
}

.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
    color: #ffffff !important;
    background-color: #0d0d0d !important;
    border-color: #0d0d0d !important;
}

.btn-black.disabled,
.btn-black:disabled {
    color: #ffffff !important;
    background-color: #0d0d0d !important;
    border-color: #0d0d0d !important;
}

.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
    background: none;
    border-color: #5500dc;
    color: #5500dc !important;
}

.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
    color: #ffffff !important;
    background-color: #8c43ff;
    border-color: #8c43ff;
}

.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
    color: #ffffff !important;
    background-color: #8c43ff !important;
    border-color: #8c43ff !important;
}

.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
    background: none;
    border-color: #381870;
    color: #381870 !important;
}

.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
    color: #ffffff !important;
    background-color: #622ac4;
    border-color: #622ac4;
}

.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
    color: #ffffff !important;
    background-color: #622ac4 !important;
    border-color: #622ac4 !important;
}

.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
    background: none;
    border-color: #2b009a;
    color: #2b009a !important;
}

.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
    color: #ffffff !important;
    background-color: #4801ff;
    border-color: #4801ff;
}

.btn-info-outline.disabled,
.btn-info-outline:disabled {
    color: #ffffff !important;
    background-color: #4801ff !important;
    border-color: #4801ff !important;
}

.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
    background: none;
    border-color: #5b00ec;
    color: #5b00ec !important;
}

.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
    color: #ffffff !important;
    background-color: #9553ff;
    border-color: #9553ff;
}

.btn-success-outline.disabled,
.btn-success-outline:disabled {
    color: #ffffff !important;
    background-color: #9553ff !important;
    border-color: #9553ff !important;
}

.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
    background: none;
    border-color: #040506;
    color: #040506 !important;
}

.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
    color: #ffffff !important;
    background-color: #293347;
    border-color: #293347;
}

.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
    color: #ffffff !important;
    background-color: #293347 !important;
    border-color: #293347 !important;
}

.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
    background: none;
    border-color: #c300dc;
    color: #c300dc !important;
}

.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
    color: #ffffff !important;
    background-color: #ea43ff;
    border-color: #ea43ff;
}

.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
    color: #ffffff !important;
    background-color: #ea43ff !important;
    border-color: #ea43ff !important;
}

.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
    background: none;
    border-color: #000000;
    color: #000000 !important;
}

.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
    color: #ffffff !important;
    background-color: #333333;
    border-color: #333333;
}

.btn-black-outline.disabled,
.btn-black-outline:disabled {
    color: #ffffff !important;
    background-color: #333333 !important;
    border-color: #333333 !important;
}

.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
    background: none;
    border-color: #ffffff;
    color: #ffffff !important;
}

.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
    color: #333333 !important;
    background-color: #ffffff;
    border-color: #ffffff;
}

.text-primary {
    color: #8c43ff !important;
}

.text-secondary {
    color: #622ac4 !important;
}

.text-success {
    color: #9553ff !important;
}

.text-info {
    color: #4801ff !important;
}

.text-warning {
    color: #293347 !important;
}

.text-danger {
    color: #ea43ff !important;
}

.text-white {
    color: #ffffff !important;
}

.text-black {
    color: #000000 !important;
}

a.text-primary:hover,
a.text-primary:focus {
    color: #5500dc !important;
}

a.text-secondary:hover,
a.text-secondary:focus {
    color: #381870 !important;
}

a.text-success:hover,
a.text-success:focus {
    color: #5b00ec !important;
}

a.text-info:hover,
a.text-info:focus {
    color: #2b009a !important;
}

a.text-warning:hover,
a.text-warning:focus {
    color: #040506 !important;
}

a.text-danger:hover,
a.text-danger:focus {
    color: #c300dc !important;
}

a.text-white:hover,
a.text-white:focus {
    color: #b3b3b3 !important;
}

a.text-black:hover,
a.text-black:focus {
    color: #4d4d4d !important;
}

.alert-success {
    background-color: #70c770;
}

.alert-info {
    background-color: #4801ff;
}

.alert-warning {
    background-color: #293347;
}

.alert-danger {
    background-color: #ea43ff;
}

.mbr-section-btn a.btn:not(.btn-form) {
    border-radius: 100px;
}

.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
    box-shadow: none !important;
}

.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
    -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}

.mbr-gallery-filter li a {
    border-radius: 100px !important;
}

.mbr-gallery-filter li.active .btn {
    background-color: #8c43ff;
    border-color: #8c43ff;
    color: #ffffff;
}

.mbr-gallery-filter li.active .btn:focus {
    box-shadow: none;
}

.nav-tabs .nav-link {
    border-radius: 100px !important;
}

.btn-form {
    border-radius: 0;
}

.btn-form:hover {
    cursor: pointer;
}

a,
a:hover {
    color: #8c43ff;
}

.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
    color: #ffffff;
}

.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
    color: #ffffff;
}

.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
    color: #dbcdff;
}

.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
    color: #94a3c1;
}

.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
    color: #ffffff;
}

/* Scroll to top button*/
#scrollToTop a {
    border-radius: 100px;
}

#scrollToTop a {
    background: #293347;
    opacity: .5;
}

#scrollToTop a:hover {
    opacity: .7;
}

#scrollToTop a i:before {
    content: '';
    position: absolute;
    height: 40%;
    top: 25%;
    background: #ffffff;
    width: 2px;
    left: calc(50% - 1px);
}

#scrollToTop a i:after {
    content: '';
    position: absolute;
    display: block;
    border-top: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    width: 40%;
    height: 40%;
    left: 30%;
    bottom: 30%;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

/* Others*/
.note-check a[data-value=Rubik] {
    font-style: normal;
}

.mbr-arrow {
    background-color: #293347;
    opacity: .5;
    transition: .3s;
}

.mbr-arrow a {
    color: #ffffff;
}

.mbr-arrow:hover {
    opacity: .7;
}

@media (max-width: 767px) {
    .mbr-arrow {
        display: none;
    }
}

.form-control-label {
    position: relative;
    cursor: pointer;
    margin-bottom: .357em;
    padding: 0;
}

.alert {
    color: #ffffff;
    border-radius: 0;
    border: 0;
    font-size: .875rem;
    line-height: 1.5;
    margin-bottom: 1.875rem;
    padding: 1.25rem;
    position: relative;
}

.alert.alert-form::after {
    background-color: inherit;
    bottom: -7px;
    content: "";
    display: block;
    height: 14px;
    left: 50%;
    margin-left: -7px;
    position: absolute;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 14px;
}

.form-control {
    background-color: #f5f5f5;
    box-shadow: none;
    color: #565656;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.43;
    min-height: 3.5em;
    padding: 1.07em .5em;
}

.form-control>.mbr-iconfont {
    font-size: 1.6rem;
}

.form-control,
.form-control:focus {
    border: 1px solid #e8e8e8;
}

.form-active .form-control:invalid {
    border-color: red;
}

.mbr-overlay {
    background-color: #000;
    bottom: 0;
    left: 0;
    opacity: .5;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0 !important;
}

blockquote {
    font-style: italic;
    padding: 10px 0 10px 20px;
    font-size: 1.09rem;
    position: relative;
    border-color: #8c43ff;
    border-width: 3px;
}

ul,
ol,
pre,
blockquote {
    margin-bottom: 2.3125rem;
}

pre {
    background: #f4f4f4;
    padding: 10px 24px;
    white-space: pre-wrap;
}

.inactive {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    -webkit-user-drag: none;
    user-drag: none;
}

.mbr-section__comments .row {
    -webkit-justify-content: center;
    justify-content: center;
}

/* Forms */
.mbr-form .btn {
    margin: .4rem 0;
}

.mbr-form .input-group-btn a.btn {
    border-radius: 100px !important;
}

.mbr-form .input-group-btn a.btn:hover {
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}

.mbr-form .input-group-btn button[type="submit"] {
    border-radius: 100px !important;
}

.mbr-form .input-group-btn button[type="submit"]:hover {
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}

.form1 .input-group-btn a.btn {
    border-radius: 0 !important;
}

.form1 .input-group-btn button[type="submit"] {
    border-radius: 0 !important;
}

@media (max-width: 767px) {
    .btn {
        font-size: .75rem !important;
    }

    .btn .mbr-iconfont {
        font-size: 1rem !important;
    }
}

/* Social block */
.btn-social {
    font-size: 20px;
    border-radius: 50%;
    padding: 0;
    width: 44px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    position: relative;
    border: 2px solid #c0a375;
    border-color: #8c43ff;
    color: #232323;
    cursor: pointer;
}

.btn-social i {
    top: 0;
    line-height: 44px;
    width: 44px;
}

.btn-social:hover {
    color: #fff;
    background: #8c43ff;
}

.btn-social+.btn {
    margin-left: .1rem;
}

/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
    background: #8c43ff;
}

.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
    color: #8c43ff;
}

.footer3 input[type="email"],
.footer4 input[type="email"] {
    border-radius: 100px !important;
}

.footer3 .input-group-btn a.btn,
.footer4 .input-group-btn a.btn {
    border-radius: 100px !important;
}

.footer3 .input-group-btn button[type="submit"],
.footer4 .input-group-btn button[type="submit"] {
    border-radius: 100px !important;
}

/* Headers*/
.header13 .form-inline input[type="email"],
.header14 .form-inline input[type="email"] {
    border-radius: 100px;
}

.header13 .form-inline input[type="text"],
.header14 .form-inline input[type="text"] {
    border-radius: 100px;
}

.header13 .form-inline input[type="tel"],
.header14 .form-inline input[type="tel"] {
    border-radius: 100px;
}

.header13 .form-inline a.btn,
.header14 .form-inline a.btn {
    border-radius: 100px;
}

.header13 .form-inline button,
.header14 .form-inline button {
    border-radius: 100px !important;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.note-air-layout .dropup .dropdown-menu,
.note-air-layout .navbar-fixed-bottom .dropdown .dropdown-menu {
    bottom: initial !important;
}

html,
body {
    height: auto;
    min-height: 100vh;
}

.dropup .dropdown-toggle::after {
    display: none;
}

.align-center {
    display: flex;
    justify-content: center;
    text-align: center;
}

.hero {
    height: 100vh;
    padding-top: 30vh;
    padding-bottom: 120px;
    background-color: #ffffff;
}

.hero .media-container-column .btn-bgr {
    z-index: 0;
}

.hero H1 {
    text-align: center;
    color: #293347;
    font-weight: normal;
}

.hero .mbr-text,
.hero .mbr-section-btn {
    text-align: center;
    color: #293347;
}

.waves {
    position: absolute;
    width: 100vw;
    bottom: 0;
    left: 0;
    background: #ffffff;
}

.waves .image-block {
    margin: auto;
    width: 100% !important;
}

.waves .image-block img {
    width: 100% !important;
    margin-top: 0px;
    z-index: -1;
}

@media (max-width: 768px) {
    .waves .image-block {
        width: 100% !important;
    }
}

@media (min-width: 1600px) {
    .waves .image-block img {
        margin-top: -80px
    }
}

.about {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #9e61fc;
}

.about::before {
    content: "";
    display: block;
    height: 190px;
    margin: -190px 0 0;
}

.about .icon-transition span {
    padding: 0.1rem 0.9rem;
    border-radius: 50%;
    color: #ffffff;
    display: block;
    height: 3em;
    line-height: 3em;
    width: 3em;
    background: #293347 none repeat scroll 0 0;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    font-size: 14px;
}

.about .photo-split {
    padding: 0;
}

.about .photo-split img {
    width: 100%;
}

.about .icon-transition span:hover {
    background-color: #8c43ff;
}

.about .counter-container ul {
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.about .counter-container ul li {
    margin-bottom: .5rem;
    list-style: ✓;
}

.about .counter-container ul li:before {
    color: #8c43ff;
    display: inline-block;
    content: '✓';
    text-align: center;
    line-height: 1.5em;
    transition: all .2s;
    width: 25px;
    height: 25px;
}

.about .wrap-block {
    padding: 3rem 3rem;
}

.about .wrap-block ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.about .wrap-block ul li {
    display: inline-block;
}

.about .wrap-block ul li span {
    text-align: center;
}

.about .social-media {
    margin-top: 1.5em;
    padding: 0;
}

.about .social-media ul {
    margin: 0;
    padding: 0;
    margin-bottom: 8px;
}

.about .social-media ul li {
    padding: 4px;
    display: inline-block;
}

.about .mbr-list,
.about .social-media ul {
    text-align: left;
}

@media (max-width: 500px) {
    .about .wrap-block {
        padding: 3rem 1rem;
    }
}

@media (max-width: 767px) {

    .about .mbr-section-title,
    .about .mbr-section-subtitle,
    .about .mbr-text {
        text-align: center !important;
    }

    .about .social-list {
        text-align: center !important;
    }

    .about::before {
        height: 83px;
        margin: -83px 0 0;
    }
}

.about .mbr-section-title {
    color: #ffffff;
}

.about .mbr-text {
    color: #ffffff;
}

.portfolio {
    padding: 135px 90px;
    background-color: #ffffff;
}

.portfolio .card-title {
    letter-spacing: 0.03em;
    color: #232323;
    font-weight: 700;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
}

.portfolio .card {
    margin: 2rem;
    flex: 1 1 25%;
    border: none;
    border-radius: 20px;
    box-shadow: 2px 8px 20px -6px #999;
}

.portfolio .card:hover {
    -moz-transform: translate(0, -2px);
    -ms-transform: translate(0, -2px);
    -o-transform: translate(0, -2px);
    -webkit-transform: translate(0, -2px);
    transform: translate(0, -2px)
}

.portfolio .card-img img {
    width: 100%;
}

.portfolio .card-box {
    word-break: break-word;
    padding-top: 2rem;
}

.portfolio .card-box p {
    color: #444;
    letter-spacing: 0.03em;
    font-weight: 300;
    margin: 0;
    padding-bottom: 1.5rem;
}

.portfolio .btn {
    margin: .3rem;
    font-size: 0.6rem;
}

.portfolio .mbr-section-title {
    margin: 0;
}

.portfolio .card-underline,
.portfolio .underline {
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
}

.portfolio .card-underline .line,
.portfolio .underline .line {
    width: 3rem;
    height: 2px;
    background: #ea43ff;
    display: inline-block;
}

.portfolio .card-underline {
    margin-bottom: 1.5rem;
    margin-top: 0 !important;
}

.portfolio .card-underline .line {
    background: #ea43ff;
}

@media (max-width: 767px) {
    .portfolio .row.blog-block {
        padding: 0 1rem;
    }
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .portfolio .row-content {
        min-width: 100%;
    }

    .portfolio .card {
        display: block;
    }
}

.portfolio .mbr-section-title,
.portfolio .underline {
    color: #293347;
}

.portfolio .mbr-section-subtitle {
    color: #293347;
}

.portfolio .card-title,
.portfolio .card-underline {
    color: #293347;
}

.portfolio .card-box>p,
.portfolio .mbr-section-btn {
    color: #293347;
}

.cid-rBXrnXoQwN {
    padding-top: 90px;
    padding-bottom: 90px;
    /* background-image: url("../../../assets/images/map-background.webp"); */
}

.cid-rBXrnXoQwN h2,
.cid-rBXrnXoQwN h3,
.cid-rBXrnXoQwN h4,
.cid-rBXrnXoQwN p {
    color: #ffffff;
}

.cid-rBXrnXoQwN .mbr-overlay {
    z-index: -1;
}

.cid-rBXrnXoQwN .mbr-iconfont {
    font-size: 48px;
    padding-right: 1rem;
}

.cid-rBXrnXoQwN .input {
    margin-bottom: 15px;
}

.cid-rBXrnXoQwN .subtext {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.cid-rBXrnXoQwN .media-container-row {
    -webkit-align-items: center;
    align-items: center;
}

.cid-rBXrnXoQwN .mbr-text {
    color: #767676;
}

.cid-rBXrnXoQwN .form-block {
    padding: 3rem;
    position: relative;
}

.cid-rBXrnXoQwN .form-block .bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #293347;
    opacity: 1;
    z-index: 0;
}

.cid-rBXrnXoQwN .form-block .form-wrap {
    position: relative;
    z-index: 1;
}

.cid-rBXrnXoQwN a:not([href]):not([tabindex]) {
    color: #fff;
    border-radius: 3px;
}

.cid-rBXrnXoQwN .multi-horizontal {
    flex-grow: 1;
    -webkit-flex-grow: 1;
    max-width: 100%;
}

.cid-rBXrnXoQwN .input-group-btn {
    display: block;
    text-align: center;
}

.cid-rBXrnXoQwN .block .form-control {
    padding: 1.07em 1.07em;
}

@media (min-width: 768px) {
    .cid-rBXrnXoQwN .container>.row>.col-md-6:first-child {
        padding-right: 30px;
    }

    .cid-rBXrnXoQwN .container>.row>.col-md-6:last-child {
        padding-left: 30px;
    }
}

@media (max-width: 991px) {
    .cid-rBXrnXoQwN .google-map {
        padding-bottom: 2rem;
    }
}

@media (max-width: 767px) {
    .cid-rBXrnXoQwN h2 {
        padding-top: 2rem;
    }

    .cid-rBXrnXoQwN .mbr-section-title,
    .cid-rBXrnXoQwN .mbr-section-subtitle,
    .cid-rBXrnXoQwN .mbr-text {
        text-align: center !important;
    }

    .cid-rBXrnXoQwN .social-list {
        text-align: center !important;
    }
}

@media (max-width: 499px) {
    .cid-rBXrnXoQwN .block-content {
        padding: 0;
    }

    .cid-rBXrnXoQwN .form-block {
        padding: 1rem;
    }
}

.cid-rBXrnXoQwN .mbr-section-title,
.cid-rBXrnXoQwN .mbr-section-btn {
    color: #ffffff;
}

.cid-rBXrnXoQwN .mbr-section-subtitle {
    color: #ffffff;
}

.cid-rBXrnXoQwN P {
    color: #293347;
}

.cid-rBXrnXoQwN .wrap-block {
    padding: 3rem 3rem;
}

.cid-rBXrnXoQwN .wrap-block ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.cid-rBXrnXoQwN .wrap-block ul li {
    display: inline-block;
}

.cid-rBXrnXoQwN .wrap-block ul li span {
    text-align: center;
}

.cid-rBXrnXoQwN .social-media {
    padding: 0;
    margin: unset;
}

.cid-rBXrnXoQwN .social-media ul {
    margin: 0;
    padding: 0;
    margin-bottom: 8px;
}

.cid-rBXrnXoQwN .social-media ul li {
    padding: 4px;
    display: inline-block;
}

.cid-rBXrnXoQwN .mbr-list,
.cid-rBXrnXoQwN .social-media ul {
    text-align: right;
}

@media (max-width: 500px) {
    .cid-rBXrnXoQwN .wrap-block {
        padding: 3rem 1rem;
    }
}

.cid-rBXrnXoQwN .wrap-block ul li span {
    text-align: center;
}

.cid-rBXrnXoQwN .icon-transition span {
    padding: 0.1rem 0.9rem;
    border-radius: 50%;
    color: #ffffff;
    display: block;
    height: 3em;
    line-height: 3em;
    width: 3em;
    background: #8c43ff none repeat scroll 0 0;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    font-size: 14px;
}

.cid-rBXrnXoQwN .icon-transition span:hover {
    background-color: #293347;
}

.cid-rBXriu1FyG {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #ffffff;
}

.cid-rBXriu1FyG p {
    text-align: center;
}

.cid-rBXriu1FyG .mbr-iconfont-social {
    font-size: 1rem;
    color: #293347;
}

.cid-rBXriu1FyG .social-list a:focus {
    text-decoration: none;
}

.cid-rBXriu1FyG .text-copyright {
    width: 100%;
    color: #293347;
}

.cid-rBXriu1FyG .img-logo-footer {
    margin-right: 1rem;
    max-width: 3rem;
}

.cid-rBXriu1FyG .text-logo-footer {
    display: inline-block;
    vertical-align: middle;
}

.cid-rBXriu1FyG .logo-footer {
    line-height: normal;
}

.cid-rBXriu1FyG .copyright {
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.cid-rBXriu1FyG .social-btns {
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.cid-rBXriu1FyG .media-container-row {
    -webkit-align-items: center;
    align-items: center;
}

.cid-rBXkB9rbi7 .navbar {
    padding: .5rem 0;
    background: #ffffff;
    transition: none;
    min-height: 77px;
}

@media (min-width: 992px) {
    .cid-rBXkB9rbi7 .navbar .dropdown .dropdown-menu .dropdown-item {
        padding: 0.235em 2.5385em 0.235em 3.5385em !important;
        margin: 0 !important;
    }
}

.cid-rBXkB9rbi7 .menu-logo {
    display: flex;
    position: relative;
    -webkit-align-items: center;
    align-items: center;
    margin-right: auto;
}

.cid-rBXkB9rbi7 .menu-logo .navbar-brand {
    display: flex;
    margin-left: 5rem;
    padding: 0.5rem 0;
    transition: padding .2s;
    min-height: 3.8rem;
    min-width: 12rem;
    -webkit-align-items: center;
    align-items: center;
}

.cid-rBXkB9rbi7 .menu-logo .navbar-brand .navbar-caption-wrap {
    display: -webkit-flex;
    -webkit-align-items: center;
    align-items: center;
    word-break: break-word;
    min-width: 7rem;
    margin: .3rem 0;
}

.cid-rBXkB9rbi7 .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
    line-height: 1.2rem !important;
    padding-right: 2rem;
}

.cid-rBXkB9rbi7 .menu-logo .navbar-brand .navbar-logo {
    font-size: 4rem;
    transition: font-size 0.25s;
}

.cid-rBXkB9rbi7 .menu-logo .navbar-brand .navbar-logo img {
    display: flex;
}

.cid-rBXkB9rbi7 .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
    transition: font-size 0.25s;
}

.cid-rBXkB9rbi7 .navbar-dropdown.bg-color.transparent.opened {
    background: #ffffff;
}

.cid-rBXkB9rbi7 a {
    font-style: normal;
}

.cid-rBXkB9rbi7 .nav-item span {
    padding-right: 0.4em;
    line-height: 0.5em;
    vertical-align: text-bottom;
    position: relative;
    top: -0.2em;
    text-decoration: none;
}

.cid-rBXkB9rbi7 .nav-item a {
    padding: 0.4rem 0 !important;
}

.cid-rBXkB9rbi7 .dropdown-item:before {
    font-family: MobiriseIcons !important;
    content: '\e966';
    display: inline-block;
    width: 0;
    position: absolute;
    left: 1rem;
    top: 0.5rem;
    margin-right: 0.5rem;
    line-height: 1;
    font-size: inherit;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.cid-rBXkB9rbi7 .dropdown-item:hover:before {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    width: 16px;
}

.cid-rBXkB9rbi7 .content-text {
    margin-bottom: 0;
}

.cid-rBXkB9rbi7 .navbar-nav {
    position: relative;
    min-height: 60px;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
}

@media (min-width: 992px) {
    .cid-rBXkB9rbi7 .navbar-nav .main-menu-animated-line {
        position: absolute;
        left: 0;
        width: 0;
        height: 0;
        z-index: 100;
        border-top: 4px solid #8c43ff;
        -webkit-transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
        -moz-transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
        transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
    }

    .cid-rBXkB9rbi7 .navbar-nav .main-menu-animated-line.bottom {
        bottom: 0;
    }

    .cid-rBXkB9rbi7 .navbar-nav .nav-item a {
        margin: 0 1.3rem !important;
    }
}

@media (max-width: 991px) {
    .cid-rBXkB9rbi7 .navbar-nav .nav-item a {
        margin: 0 !important;
    }
}

.cid-rBXkB9rbi7 .navbar-nav .nav-item span {
    padding-right: 0;
}

.cid-rBXkB9rbi7 .display-4>.mbr-iconfont {
    font-size: 1.43em;
}

.cid-rBXkB9rbi7 .display-4>.btn>.mbr-iconfont {
    font-size: 1.43em;
}

.cid-rBXkB9rbi7 .nav-dropdown .dropdown-item {
    font-weight: 400;
}

.cid-rBXkB9rbi7 .navbar-buttons.mbr-section-btn {
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.cid-rBXkB9rbi7 .nav-dropdown .link {
    font-weight: 400;
}

.cid-rBXkB9rbi7 .menu .navbar-brand .logo-text-part {
    vertical-align: top;
}

.cid-rBXkB9rbi7 .menu-content-top .row {
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.cid-rBXkB9rbi7 .menu-content-top .row p {
    padding: 0.5rem 0;
}

.cid-rBXkB9rbi7 .menu-content-top .row a {
    padding: 0.5rem 0;
}

.cid-rBXkB9rbi7 .content-right-side {
    text-align: center;
}

.cid-rBXkB9rbi7 .menu-content-top {
    display: none;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
}

.cid-rBXkB9rbi7 .content-right-side .content-link {
    margin-left: 2rem;
}

.cid-rBXkB9rbi7 .content-right-side .content-link span {
    vertical-align: middle;
    padding-right: 1rem;
}

@media (min-width: 992px) {
    .cid-rBXkB9rbi7 .navbar .menu-content-top {
        display: block;
    }

    .cid-rBXkB9rbi7 .menu-content-top .row {
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }

    .cid-rBXkB9rbi7 .content-right-side {
        -webkit-justify-content: flex-end;
        justify-content: flex-end;
        -webkit-flex-basis: 70%;
        flex-basis: 70%;
        -webkit-flex-shrink: 0;
        flex-shrink: 0;
        text-align: right;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
    }

    .cid-rBXkB9rbi7 .menu-content-top {
        border-bottom: 1px solid #e0e0e0;
    }

    .cid-rBXkB9rbi7 .menu-bottom {
        display: flex;
    }

    .cid-rBXkB9rbi7 .navbar {
        display: block;
        padding: 0;
    }

    .cid-rBXkB9rbi7 .navbar .menu-logo {
        margin-right: auto;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
    }

    .cid-rBXkB9rbi7 .navbar.navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
        -webkit-align-self: initial;
        align-self: auto;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        z-index: 101;
        min-height: 76px;
    }

    .cid-rBXkB9rbi7 .navbar-toggler {
        display: none;
    }
}

.cid-rBXkB9rbi7 .navbar-short .menu-content-top {
    height: 0;
    border: none;
}

.cid-rBXkB9rbi7 .btn {
    padding: 0.4rem 1.5rem;
    display: inline-flex;
    -webkit-align-items: center;
    align-items: center;
}

.cid-rBXkB9rbi7 .btn .mbr-iconfont {
    font-size: 1.2em;
}

.cid-rBXkB9rbi7 .navbar-toggleable-sm .navbar-collapse {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    padding-right: 5rem;
    width: auto;
}

.cid-rBXkB9rbi7 .navbar-toggleable-sm .navbar-collapse .navbar-nav {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
}

.cid-rBXkB9rbi7 .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
    -webkit-align-self: center;
    align-self: center;
}

.cid-rBXkB9rbi7 .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
    padding-left: 0;
    padding-bottom: 0;
}

.cid-rBXkB9rbi7 .dropdown .dropdown-menu {
    background: #ffffff;
    display: none;
    position: absolute;
    min-width: 5rem;
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
    text-align: left;
}

.cid-rBXkB9rbi7 .dropdown .dropdown-menu .dropdown-item {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.cid-rBXkB9rbi7 .dropdown .dropdown-menu .dropdown-item::after {
    right: 1rem;
}

.cid-rBXkB9rbi7 .dropdown .dropdown-menu .dropdown-item:hover .mbr-iconfont:before {
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
}

.cid-rBXkB9rbi7 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
    margin-left: -1.8rem;
    padding-right: 1rem;
    font-size: inherit;
}

.cid-rBXkB9rbi7 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
    display: inline-block;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.cid-rBXkB9rbi7 .dropdown .dropdown-menu .dropdown-submenu {
    margin: 0;
}

.cid-rBXkB9rbi7 .dropdown.open>.dropdown-menu {
    display: block;
}

.cid-rBXkB9rbi7 .navbar-toggleable-sm.opened:after {
    position: absolute;
    width: 100vw;
    height: 100vh;
    content: '';
    background-color: rgba(0, 0, 0, 0.1);
    left: 0;
    bottom: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    z-index: 1000;
}

.cid-rBXkB9rbi7 .navbar.navbar-short {
    min-height: 60px;
    transition: all .2s;
}

.cid-rBXkB9rbi7 .navbar.navbar-short .navbar-logo a {
    font-size: 2.5rem !important;
    line-height: 2.5rem;
    transition: font-size 0.25s;
}

.cid-rBXkB9rbi7 .navbar.navbar-short .navbar-logo a .mbr-iconfont {
    font-size: 2.5rem !important;
}

.cid-rBXkB9rbi7 .navbar.navbar-short .navbar-logo a img {
    height: 3rem !important;
}

.cid-rBXkB9rbi7 .navbar.navbar-short .navbar-brand {
    min-height: 3rem;
}

.cid-rBXkB9rbi7 button.navbar-toggler {
    width: 31px;
    height: 18px;
    cursor: pointer;
    transition: all .2s;
}

.cid-rBXkB9rbi7 button.navbar-toggler:focus {
    outline: none;
}

.cid-rBXkB9rbi7 button.navbar-toggler .hamburger span {
    position: absolute;
    right: 0;
    width: 30px;
    height: 2px;
    border-right: 5px;
    background-color: #293347;
}

.cid-rBXkB9rbi7 button.navbar-toggler .hamburger span:nth-child(1) {
    top: 0;
    transition: all .2s;
}

.cid-rBXkB9rbi7 button.navbar-toggler .hamburger span:nth-child(2) {
    top: 8px;
    transition: all .15s;
}

.cid-rBXkB9rbi7 button.navbar-toggler .hamburger span:nth-child(3) {
    top: 8px;
    transition: all .15s;
}

.cid-rBXkB9rbi7 button.navbar-toggler .hamburger span:nth-child(4) {
    top: 16px;
    transition: all .2s;
}

.cid-rBXkB9rbi7 nav.opened .hamburger span:nth-child(1) {
    top: 8px;
    width: 0;
    opacity: 0;
    right: 50%;
    transition: all .2s;
}

.cid-rBXkB9rbi7 nav.opened .hamburger span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: all .25s;
}

.cid-rBXkB9rbi7 nav.opened .hamburger span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    transition: all .25s;
}

.cid-rBXkB9rbi7 nav.opened .hamburger span:nth-child(4) {
    top: 8px;
    width: 0;
    opacity: 0;
    right: 50%;
    transition: all .2s;
}

.cid-rBXkB9rbi7 .collapsed .nav-link {
    margin: .5rem 0 !important;
}

.cid-rBXkB9rbi7 .collapsed.navbar {
    -webkit-flex-direction: column;
    flex-direction: column;
}

.cid-rBXkB9rbi7 .collapsed .menu-bottom {
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.cid-rBXkB9rbi7 .collapsed .menu-logo {
    margin-right: 0;
}

.cid-rBXkB9rbi7 .collapsed .btn {
    display: -webkit-flex;
}

.cid-rBXkB9rbi7 .collapsed .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
}

.cid-rBXkB9rbi7 .collapsed .navbar-collapse.collapsing,
.cid-rBXkB9rbi7 .collapsed .navbar-collapse.show {
    display: block !important;
}

.cid-rBXkB9rbi7 .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-rBXkB9rbi7 .collapsed .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
}

.cid-rBXkB9rbi7 .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-rBXkB9rbi7 .collapsed .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
}

.cid-rBXkB9rbi7 .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-rBXkB9rbi7 .collapsed .navbar-collapse.show .navbar-buttons {
    text-align: center;
}

.cid-rBXkB9rbi7 .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-rBXkB9rbi7 .collapsed .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
}

.cid-rBXkB9rbi7 .collapsed button.navbar-toggler {
    display: block;
    -webkit-align-self: center;
    align-self: center;
}

.cid-rBXkB9rbi7 .collapsed .navbar-brand {
    margin-left: 1rem !important;
    margin-top: .5rem;
}

.cid-rBXkB9rbi7 .collapsed .navbar-toggleable-sm {
    -webkit-flex-direction: column;
    flex-direction: column;
}

.cid-rBXkB9rbi7 .collapsed .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .25s;
    transition-property: opacity, padding, height;
}

.cid-rBXkB9rbi7 .collapsed .dropdown.open>.dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
}

.cid-rBXkB9rbi7 .collapsed .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
}

.cid-rBXkB9rbi7 .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
}

.cid-rBXkB9rbi7 .collapsed .dropdown-item:before {
    display: none;
}

@media (max-width: 991px) {
    .cid-rBXkB9rbi7 .dropdown-item {
        padding: 0.235em 0 !important;
        margin: 0 !important;
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
    }

    .cid-rBXkB9rbi7 .dropdown-item:before {
        display: none;
    }

    .cid-rBXkB9rbi7 .menu-logo {
        margin-right: 0;
    }

    .cid-rBXkB9rbi7 .menu-bottom {
        -webkit-flex-direction: column;
        -webkit-align-items: center;
        flex-direction: column;
        align-items: center;
    }

    .cid-rBXkB9rbi7 img {
        height: 3.8rem !important;
    }

    .cid-rBXkB9rbi7 .btn {
        display: -webkit-flex;
    }

    .cid-rBXkB9rbi7 button.navbar-toggler {
        display: block;
    }

    .cid-rBXkB9rbi7 .navbar-brand {
        margin-left: 1rem !important;
        margin-top: .5rem;
    }

    .cid-rBXkB9rbi7 .navbar-toggleable-sm {
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    .cid-rBXkB9rbi7 .navbar-collapse {
        display: none !important;
        padding-right: 0 !important;
    }

    .cid-rBXkB9rbi7 .navbar-collapse.collapsing,
    .cid-rBXkB9rbi7 .navbar-collapse.show {
        display: block !important;
    }

    .cid-rBXkB9rbi7 .navbar-collapse.collapsing .navbar-nav,
    .cid-rBXkB9rbi7 .navbar-collapse.show .navbar-nav {
        display: block;
        text-align: center;
    }

    .cid-rBXkB9rbi7 .navbar-collapse.collapsing .navbar-nav .nav-item,
    .cid-rBXkB9rbi7 .navbar-collapse.show .navbar-nav .nav-item {
        clear: both;
    }

    .cid-rBXkB9rbi7 .navbar-collapse.collapsing .navbar-buttons,
    .cid-rBXkB9rbi7 .navbar-collapse.show .navbar-buttons {
        text-align: center;
    }

    .cid-rBXkB9rbi7 .navbar-collapse.collapsing .navbar-buttons:last-child,
    .cid-rBXkB9rbi7 .navbar-collapse.show .navbar-buttons:last-child {
        margin-bottom: 1rem;
    }

    .cid-rBXkB9rbi7 .dropdown .dropdown-menu {
        width: 100%;
        text-align: center;
        position: relative;
        opacity: 0;
        display: block;
        height: 0;
        visibility: hidden;
        padding: 0;
        transition-duration: .5s;
        transition-property: opacity, padding, height;
    }

    .cid-rBXkB9rbi7 .dropdown.open>.dropdown-menu {
        position: relative;
        opacity: 1;
        height: auto;
        padding: 1.4rem 0;
        visibility: visible;
    }

    .cid-rBXkB9rbi7 .dropdown .dropdown-submenu {
        left: 0;
        text-align: center;
        width: 100%;
    }

    .cid-rBXkB9rbi7 .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
        margin-top: 0;
        position: inherit;
        right: 0;
        top: 50%;
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: .3em;
        vertical-align: middle;
        content: "";
        border-top: .30em solid;
        border-right: .30em solid transparent;
        border-left: .30em solid transparent;
    }
}

.cid-rBXkB9rbi7 .navbar-dropdown {
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.cid-rBXkB9rbi7 .navbar-collapse {
    -ms-flex-preferred-size: auto;
    -webkit-flex-basis: auto;
    flex-basis: auto;
}

.cid-rBXkB9rbi7 .nav-link:focus {
    outline: none;
}

.cid-rBXkB9rbi7 .navbar-toggler {
    position: relative;
}

.cid-rBXkB9rbi7 .dropdown-item.active,
.cid-rBXkB9rbi7 .dropdown-item:active {
    background-color: #ffffff;
    color: initial;
}

.cid-rBXkB9rbi7 .nav-link:hover,
.cid-rBXkB9rbi7 .dropdown-item:hover {
    color: #8c43ff;
}